
.Rproj.user/AD8EFC68/saved_source_markers
.Rproj.user/AD8EFC68/rmd-outputs
.Rproj.user/AD8EFC68/pcs/workbench-pane.pper
.Rproj.user/AD8EFC68/pcs/windowlayoutstate.pper
.Rproj.user/AD8EFC68/pcs/source-pane.pper
.Rproj.user/AD8EFC68/pcs/files-pane.pper
.Rhistory
